/*--------------------------------------
              VARIABLES
-----------------------------------------*/

$primary: 'Roboto', sans-serif;
$secondary: 'Odibee Sans', cursive;
$ascent-color: #F83946;
$blue: #0C2662;
$light:#F5EDEE;
$grey: #E0DFDF;
$opacity: 74%;



